{% extends "avadoc/base_g.html" %}
{% load crispy_forms_tags %}
{% block corpo %}
    <div class="row" style="border-radius: 50px;">

        <div class="col-4">

        </div>
        <div style="margin-top: 30px; border-radius: 50px;border: solid 2px rgb(197,1,226)" class="col-4 p-5">
            <form action="" method="POST" >
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="Logar" class="btn bg-secondary">
            </form>

        </div>
        <div class="col-4">

        </div>
    </div>
{% endblock corpo %}